# Ignore dataset folders and files
Data/
.devcontainer/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
venv/
ENV/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore hidden files
.*

# Allow Streamlit config
!.streamlit/
!.streamlit/config.toml

# Logs and runtime files
*.log
*.sqlite3
